{{ $post := .blog }}

<div class="card-simple" itemscope itemprop="blogPost" itemtype="http://schema.org/BlogPosting">
  {{ partial "article_metadata" (dict "content" $post "is_list" 1) }}

  {{ $preview := $post.Params.header.preview | default true }}
  {{ if and $post.Params.header.image $preview }}
  <a href="{{ $post.Permalink }}">
    {{ $img_src := urls.Parse $post.Params.header.image }}
    {{ if $img_src.Scheme }}
      <img src="{{ $post.Params.header.image }}" class="article-banner" itemprop="image">
    {{ else }}
      <img src="{{ "/img/" | relURL }}{{ $post.Params.header.image }}" class="article-banner" itemprop="image">
    {{ end }}
  </a>
  {{end}}
  <h3 class="article-title" itemprop="headline">
    <a href="{{ $post.Permalink }}" itemprop="url">{{ $post.Title }}</a>
  </h3>
  <div class="article-style" itemprop="articleBody">
    {{ if $post.Params.summary }}
    <p>{{ printf "%s" $post.Params.summary | markdownify }}</p>
    {{ else if $post.Truncated }}
    {{ $post.Summary }}
    {{ else }}
    {{ $post.Content }}
    {{ end }}
  </div>
  <p class="read-more" itemprop="mainEntityOfPage">
    <a href="{{ $post.Permalink }}" class="btn btn-primary btn-outline">
      {{ i18n "continue_reading" }}
    </a>
  </p>
</div>
